@import "tailwindcss";

@layer base {
  :root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
  }

  a {
    @apply text-indigo-700 underline-offset-4 hover:underline;
  }
}
